* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  row-gap: 30px;
  background-color: rgb(226, 232, 240);
}

.project-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 0.9fr 4fr;
  row-gap: 30px;
  background-color: rgb(226, 232, 240);
}

/*Sidebar code*/

.sidebar {
  background-color: #1992d4;
  width: 100%;
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: 60px 300px 1fr;
  align-items: start;
  gap: 70px;
}

.sidebar p {
  color: white;
  font-size: 1.4rem ; 
}

.logo-container {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  gap: 10px;
  margin-left: 15px;
  margin-top: 20px;
}

.logo {
  width: 50px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%)
    hue-rotate(27deg) brightness(110%) contrast(103%);
}

.logo-container p {
  font-size: 1.8rem;
  font-weight: bold;
}

.options-container {
  margin-left: 25px;
}

.icon {
  width: 25px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%)
    hue-rotate(27deg) brightness(110%) contrast(103%);
}

.options-container ul {
  display: grid;
  gap: 30px;
}

.options-container li {
  list-style-type: none;
  display: grid;
  grid-template-columns: 25px 1fr;
  align-items: center;
  gap: 20px;
}

.options-container li p {
  font-size: 1.25rem;
  font-weight: bold;
  padding-top: 1px;
}

.settings-container {
  margin-left: 25px;
}

.settings-container ul {
  display: grid;
  gap: 30px;
}

.settings-container li {
  list-style-type: none;
  display: grid;
  grid-template-columns: 25px 1fr;
  align-items: center;
  gap: 20px;
}

.settings-container li p {
  font-size: 1.25rem;
  font-weight: bold;
}

/*Navigation bar code*/
.navbar {
  background-color: white;
  width: 100%;
  display: grid;
  gap: 30px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.top-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  margin-left: 45px;
  margin-top: 15px;
}

.searchbar-container {
  display: grid;
  grid-template-columns: 30px 1fr;
  gap: 15px;
}

.input-box {
  border: none;
  border-radius: 15px;
  background-color: rgb(226, 232, 240);
  width: 90%;
  padding: 6px 6px;
}

.search-icon,
.notification-icon {
  width: 30px;
}

.user-tools {
  justify-self: center;
  display: grid;
  grid-template-columns: 30px 60px 1fr;
  align-items: center;
  gap: 25px;
}

.user-tools p {
  font-size: 1.2rem;
  font-weight: bold;
}

.profile-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  align-self: end;
}

.bottom-section {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
  margin-bottom: 10px;
}

.greeting-container {
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
  font-weight: bold;
  line-height: 1.5;
  margin-left: 50px;
}

.greeting-container span {
  font-size: 1.5rem;
}

.greeting-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.post-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  justify-self: center;
}

.post-button {
  border: none;
  border-radius: 30px;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 15px 30px;
  background-color: #1992d4;
  color: white;
}

/*Main section code*/
.main-content {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 25px;
  padding-left: 20px;
  margin-bottom: 50px;
}

.main-content h2 {
  margin-bottom: 5px;
}

.card-container {
  display: grid;
  grid-template-columns: 430px 430px;
  column-gap: 30px;
  row-gap: 61px;
}

.card-container p {
  color: grey; 
}

.card {
  background-color: white;
  width: 430px;
  height: 250px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 10px 1fr;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
}

.yellow-column {
  background-color: rgb(255, 179, 56);
  width: 10px;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card-content {
  padding: 42px 30px;
  display: grid;
}

/* .card p {
  width: 300px;
} */

.card-icon {
  width: 28px;
}

.card-icon-container {
  justify-self: end;
  align-self: end;
  display: grid;
  grid-template-columns: 28px 28px 28px;
  gap: 25px;
}

.main-right-content {
  display: grid;
  gap: 52px;
}

.announcements-container {
  background-color: white;
  color: grey;
  border-radius: 10px;
  padding: 40px 35px 25px 35px;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
  width: 90%;
}

.announcement-1,
.announcement-2 {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 20px;
}

.announcement-1,
.announcement-2,
.announcement-3 {
  margin-bottom: 20px;
}

.announcement-1 p,
.announcement-2 p,
.announcement-3 p {
  padding-right: 10px;
  padding-left: 10px;
  width: 300px;
}

.announcement-topic {
  color: black;
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 1px;
}

.trending-container {
  background-color: white;
  color: grey;
  width: 90%;
  border-radius: 10px;
  padding: 30px 0 35px 35px;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
  display: grid;
  gap: 25px;
}

.trending-account-1,
.trending-account-2,
.trending-account-3,
.trending-account-4 {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  gap: 25px;
}

.trending-account-1 img,
.trending-account-2 img,
.trending-account-3 img,
.trending-account-4 img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.username {
  color: black;
}