* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.project-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4.75fr; 
  row-gap: 30px;
  background-color: rgb(226, 232, 240);
}

/*Sidebar code*/

.sidebar {
  background-color: rgb(37, 170, 242);
  width: 100%;
  grid-row: 1 / 3;
  display: grid;  
  grid-template-rows: 100px 300px 1fr; 
  align-items: start;  
}

.logo-container {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  gap: 10px;
  margin-left: 15px;
}

.logo {
  width: 50px;
}

.logo-container p {
  font-size: 1.5rem;
  font-weight: bold;
}

.options-container {
  margin-left: 25px;
}

.icon {
  width: 25px;
}

.options-container ul {
  display: grid;
  gap: 20px;
}

.options-container li {
  list-style-type: none;
  display: grid;
  grid-template-columns: 25px 1fr; 
  align-items: center;
  gap: 20px; 
}

.options-container li p {
  font-size: 1.25rem;
  font-weight: bold;
}

.settings-container {
  margin-left: 25px;
}

.settings-container ul {
  display: grid;
  gap: 20px;
}

.settings-container li {
  list-style-type: none;
  display: grid;
  grid-template-columns: 25px 1fr; 
  align-items: center;
  gap: 20px; 
}

.settings-container li p {
  font-size: 1.25rem;
  font-weight: bold;
}

/*Navigation bar code*/
.navbar {
  background-color: white;
  width: 100%;
  display: grid;
  gap: 30px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.top-section {
   display: grid;
   grid-template-columns: 2fr 1fr;
   align-items: center; 
   margin-left: 45px;
   margin-top: 15px;
}

.searchbar-container {
  display: grid;
  grid-template-columns: 30px 1fr; 
  gap: 15px; 
}

.input-box {
  border: none;
  border-radius: 15px;
  background-color: rgb(226, 232, 240);
  width: 90%; 
  padding: 6px 6px; 
}

.search-icon, .notification-icon {
  width: 30px;
}

.user-tools {
  justify-self: center;
  display: grid;
  grid-template-columns: 30px 60px 1fr;
  align-items: center;
  gap: 25px;
}

.user-tools p {
  font-size: 1.2rem;
  font-weight: bold; 
}

.profile-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  align-self: end;
}

.bottom-section {
  display: grid;
  grid-template-columns: 1.5fr 1fr; 
  align-items: center;
  margin-bottom: 10px;
}

.greeting-container {
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
  font-weight: bold;
  line-height: 1.5;
  margin-left: 50px;
}

.greeting-container span {
  font-size: 1.5rem;
}

.greeting-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.post-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 20px;
  justify-self: start;
}

.post-button {
  border: none;
  border-radius: 30px;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 15px 40px;
  background-color: rgb(37, 170, 242);
  color: white;
}

/*Main section code*/
.main-content {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;  
  padding-left: 20px; 
}

.main-content h2 {
  margin-bottom: 15px;
}

.card-container {
  display: grid;
  grid-template-columns: 450px 450px;
  column-gap: 25px;
  row-gap: 30px;
}

.card {
  background-color: white;
  width: 450px;
  height: 270px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 10px 1fr;
}


.yellow-column {
  background-color: gold;
  width: 10px;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; 
}

.card-content {
  padding: 42px 30px;
  display: grid; 
}

.card p {
  width: 300px;
}

.card-icon {
  width: 28px;
}

.card-icon-container {
  justify-self: end;
  align-self: end;
  display: grid;
  grid-template-columns: 28px 28px 28px;
  gap: 25px;
}

.announcements-container {
  border: 1px solid orange;
}

.announcement-1, .announcement-2 {
  border-bottom: 1px solid black;
}

.announcement-1 p, .announcement-2 p, .announcement-3 p {
  width: 300px;
}

.announcement-topic {
  font-weight: bold;
  margin-bottom: 5px;
}

.trending-container {
  border: 1px solid cyan;
  display: grid;
  gap: 25px;  
}

.trending-account-1, 
.trending-account-2, 
.trending-account-3,
.trending-account-4 {
  display: grid;
  grid-template-columns: 70px 1fr; 
  align-items: center;
  gap: 20px; 
}

.trending-account-1 img, 
.trending-account-2 img, 
.trending-account-3 img,
.trending-account-4 img {
  width: 70px; 
  height: 70px;
  border-radius: 50%;   
}