* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.project-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr; 
}

.sidebar {
  background-color: skyblue;
  width: 100%;
  height: 100%;
  grid-row: 1 / 3;
}

.navbar {
  background-color: lightcoral; 
  width: 100%;
  height: 80%;
}

.main-content {
  background-color: lightgreen; 
  width: 100%;
  height: 100%;
}