* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.project-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4.5fr; 
}

.sidebar {
  background-color: skyblue;
  width: 100%;
  height: 100%;
  grid-row: 1 / 3;
  display: grid;  
}

.logo-container {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  gap: 10px;
  margin-left: 15px;
}

.logo {
  width: 50px;
}

.logo-container p {
  font-size: 1.5rem;
  font-weight: bold;
}

.options-container {
  margin-left: 25px;
}

.icon {
  width: 25px;
}

.options-container ul {
  display: grid;
  gap: 20px;
}

.options-container li {
  list-style-type: none;
  display: grid;
  grid-template-columns: 25px 1fr; 
  align-items: center;
  gap: 20px; 
}

.options-container li p {
  font-size: 1.25rem;
  font-weight: bold;
}

.settings-container {
  margin-left: 25px;
}

.settings-container ul {
  display: grid;
  gap: 20px;
}

.settings-container li {
  list-style-type: none;
  display: grid;
  grid-template-columns: 25px 1fr; 
  align-items: center;
  gap: 20px; 
}

.settings-container li p {
  font-size: 1.25rem;
  font-weight: bold;
}

.navbar {
  background-color: lightcoral; 
  width: 100%;
  height: 30vh;
  display: grid;
  
}

.top-section {
   display: grid;
   grid-template-columns: 2fr 1fr;
   align-items: center; 
   margin-left: 45px;
}

.searchbar-container {
  display: grid;
  grid-template-columns: 30px 1fr; 
  gap: 15px; 
}

.input-box {
  border: none;
  border-radius: 15px;
  background-color: lightgrey;
  width: 70%; 
  padding: 6px 6px; 
}

.search-icon, .notification-icon {
  width: 30px;
}

.user-tools {
  justify-self: center;
  display: grid;
  grid-template-columns: 30px 60px 1fr;
  align-items: center;
  gap: 25px;
}

.user-tools p {
  font-size: 1.2rem;
  font-weight: bold; 
}

.profile-icon {
  width: 60px;
}

.bottom-section {
  display: grid;
  grid-template-columns: 1.5fr 1fr; 
  align-items: center;
  margin-left: 30px;
}

.greeting-container {
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
  font-weight: bold;
  line-height: 1.5;
}

.greeting-container span {
  font-size: 1.5rem;
}

.greeting-icon {
  width: 100px;
}

.post-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 20px;
  justify-self: start;
}

.post-button {
  border: none;
  border-radius: 30px;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 15px 40px;
  background-color: rgb(63, 134, 255);
  color: white;
}

.main-content {
  background-color: lightgreen; 
  width: 100%;
  height: 70vh;
}